.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.navbarInner {
  background: linear-gradient(90deg, rgb(219, 196, 255), #8665ba);
  box-shadow: 0px 4px 15px rgba(191, 105, 245, 0.5);
  padding: 12px 24px;
  border-radius: 12px;
  width: 100%;
}

.navbarIcon {
  margin-right: 16px;
  color: #bf69f5;
  display: none;
}

@media (min-width: 900px) {
  .navbarIcon {
    display: flex;
    font-size: 2rem;
  }
}

.navbarBrand {
  margin-right: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.navbarBrand:hover {
  color: #bf69f5;
  text-shadow: 0px 0px 10px rgba(191, 105, 245, 0.8);
}

.navbarLinks {
  display: none;
  gap: 16px;
}

@media (min-width: 900px) {
  .navbarLinks {
    display: flex;
  }
}

.navbarButton {
  margin: 8px 0;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  text-transform: none;
  transition: all 0.3s ease-in-out;
}

.navbarButton:hover {
  background-color: #090909;
  color: #bf69f5;
  box-shadow: 0px 0px 15px rgba(191, 105, 245, 0.7);
  transform: scale(1.05);
}

.navbarMenuIcon {
  padding: 8px;
}

.navbarMenu .MuiPaper-root {
  background-color: #ffffff;
  color: #bf69f5;
  padding: 8px;
  border-radius: 12px;
}

.navbarMenuItem:hover {
  background-color: #bf69f5;
  color: #ffffff;
}
